/* Conteneur global */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 3%;
  left: 0;
}

.top-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

.top-container img{
  width: 25px;
  height: 25px;
  position: absolute;
  right: 0; /* Aligne à droite */
  top: 0;
  display: flex;
  flex-direction: row;
  text-align: right; /* Texte aligné à droite */
  z-index: 10;
  font-size: 1rem;
}

/* Canvas en plein écran */
canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #D2AA8D;
}

/* Titre centré sur le canvas */
h1{
  position: absolute;
  top: 0%; /* Ajuste si nécessaire */
  left: 50%;
  transform: translateX(-50%);
  z-index: 12;
  color: white; /* Couleur du texte */
  font-size: 2rem; /* Taille du titre */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Effet d'ombre pour lisibilité */
}

/* Section des actions centrée */
.action-section {
  position: absolute;
  top: 20%; /* Ajuster pour placer plus haut ou plus bas */
  left: 50%;
  transform: translate(-50%, -20%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 300px;
  text-align: center;
}
/* Champs de saisie pour les dés */
.action-section input[type="text"],
.action-section input[type="color"] {
  padding: 10px; 
  margin: 10px 0; 
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); 
  transition: border-color 0.3s, box-shadow 0.3s; 
  width: 100%; 
  max-width: 280px;
}

/* Styles lors du focus sur les champs de saisie */
.action-section input[type="number"]:focus,
.action-section input[type="color"]:focus {
  border-color: #007bff; 
  outline: none; 
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

.action-section input[type="number"].error,
.action-section input[type="color"].error {
  border-color: red; 
  box-shadow: inset 0 0 5px rgba(255, 0, 0, 0.5);
}


/* Boutons des actions */
.action-section button {
  color: white;
  padding: 10px;
  margin: 5px 0;
  width: 100%;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.action-section button[disabled] {
  background-color: #aaa;
  cursor: not-allowed;
}


.message-container {
  position: absolute;
  bottom: 11%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10; /* Plus élevé que le canvas */
}
.count {
  position: absolute;
  left: 40px;
  top: 0px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10;
  font-size: 1rem;
  padding: 5px;
  border-radius: 8px;
  min-width: 50px;
  max-width: 70px;
}

.name {
  position: absolute;
  right: 40px; /* Aligne à droite */
  top: 0;
  display: flex;
  flex-direction: row;
  text-align: right; /* Texte aligné à droite */
  z-index: 10;
  font-size: 1rem;
  min-width: 50px;
  max-width: 70px;
}

.name p {
  font-size: 1rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  border-radius: 8px;
  text-align: right; /* Texte à droite à l'intérieur du paragraphe */
  max-width: 400px;
  word-wrap: break-word; /* Casse les mots trop longs */
  z-index: 10;
}


.count img{
  width: 30px;
  height: 30px;
}
.partieInfo {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 8px;
  padding: 5px;
  color: #000;
  background-color: rgba(184, 184, 184, 0.7);
  border-radius: 8px;
}

.partieInfo img {
  width: 30px;
  height: 30px; 
  cursor: pointer; 
}


.info, .error {
  font-size: 1rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  border-radius: 8px;
  text-align: center;
  min-width: 200px;
  max-width: 500px;
  align-items: center;
  word-wrap: break-word;
  z-index: 10; /* Assure que les messages sont au-dessus du canvas */
}




/* Container global */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 10; 
  width: 300px;
}

.login-container h2 {
  margin-bottom: 15px;
  font-size: 1.5rem;
  color: #333;
  text-align: center;
}

/* Champ de texte */
.login-container input[type="text"] {
  width: 90%;
  padding: 12px;
  margin-bottom: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s;
}

.login-container input[type="text"]:focus {
  border-color: #99e5ac;
  outline: none;
}

/* Bouton de connexion */
.login-container button {
  color: white;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}


button{
  background-color: #68f98d;
}

button:hover {
  background-color: #99e5ac;
}

/* Gestion des erreurs */
.error {
  border-radius: 6px;
  color: red;
  margin-top: 10px;
  font-size: 0.9rem;
}


.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 12; 
  background-color: rgba(210, 170, 141);
}

.loader-image {
  width: 150px;
  height: 150px;
  animation: pulse 3s ease-in-out infinite;
}

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.5);
  }
  100% {
      transform: scale(1);
  }
}